@using PIASISTINFO.Models

<nav class="nav-main">
    <div class="brand">Pensión Canina</div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/mascotas">Mascotas</a></li>
        <li><a href="/duenos">Dueños</a></li>
        <li><a href="/estancias">Estancias</a></li>
    </ul>
</nav>
